h1 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    opacity: 0.9;
}

h2 {
    font-family: 'Alice', sans-serif;
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    font-family: 'Alice', sans-serif;
    font-size: 25px;

}

h4 {
    font-family: 'Alice', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    font-size: 16px;
    opacity: 0.8;
}

.page-wrapper {
    max-width: 1000px;
}

.header {
    padding-top: 52px;
    padding-bottom: 25px;
}

.menu-styles {
    color: #000;
    opacity: .5;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: inline-block;
    position: relative;
}

.menu {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.menu-centered ul::before,
.menu-centered ul::after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.menu-centered :before {
    right: 100%;
}
.menu-centered :after {
    left: 100%;
}

.hero {
    /*background-image: url(../img/hero.jpg);*/
    margin-top: 25px;
    margin-bottom: 30px; }

.page-heading {
    margin-bottom: 30px;
}

.footer p {
    size: 9px;
}
